name: Score issue

on:
  issue_comment:
    types: [created]

permissions:
  contents: read
  issues: write
  id-token: write

jobs:
  call:
    if: |
      startsWith(github.event.comment.body, '/score') &&
      (github.event.comment.author_association == 'OWNER' ||
       github.event.comment.author_association == 'MEMBER' ||
       github.event.comment.author_association == 'COLLABORATOR')

    uses: OpenArtel/.github/.github/workflows/score-issue-reusable.yml@main
    with:
      issue_number: ${{ github.event.issue.number }}
      command: ${{ github.event.comment.body }}
